# ─────
# dists
# ─────
shell4.dist/
shell4.build/
shell4.onefile-build/
shell4
shell4-*-*
*.deb
*.rpm
*.msi
# ────
# bins
# ────
__pycache__/
*.pyc
# ─────
# other
# ─────
shell4-release-key.gpg
sign.sh
venv/
